<br><br>
<div class="container">
  <div class="row">
    <% @user.each do |user| %>
      <div class="col-md-4">
        <div class="demo-content bg-alt" >
          <ul>
            <li>
              <%= user.user_name %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

irimame!
