
<br>
<br>
<div class="container">
  <table class="table table-striped">
    <% @alert.each do |alert| %>
      <tr>
        <td>
          <%= alert.title %>
        </td>
        <td>
          <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <a href="/alert_delete/<%= alert.id %>">x</a>
        </td>
        </th>
      <% end %>
  </table>
</div>
