<!-- ユーザー名のポップアップ -->
  <div class="dropdown">
    <button aria-expanded="true" aria-haspopup="true" class="btn btn-default" data-toggle="dropdown" style="margin-top:9;" id="dropdownMenu1" type="button">
      @<%= User.find(session[:user]).user_name %>
    <span class="glyphicon glyphicon-user"></span>
    </button>
    <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
      <li>
        <form action="/edit/<%= User.find(session[:user]).id %>" method="post">
          <input style="background:transparent;text-decoration:underline;" type="submit" value="アカウント情報を変更">
        </form>
      </li>
      <li>
        <form action="/logout" method="get">
          <input style="background:transparent;text-decoration:underline;" type="submit" value="ログアウト">
        </form>
      </li>
  </div>
    </ul>
    </div>

    <center>
      <form action"/chat" method="POST">
        <table style="width:50%">
          <tr>
            <td>
              <input type="text" name="chat" placeholder="とーきんぐ！">
            </td>
            <td>
              <input class="submit-button" type="submit" value="送信">
            </td>
            <td>
            </td>
          </tr>
        </table>
    </center>
