
<!-- メニューボタン -->
<div class="dropdown">
  <button aria-expanded="true" aria-haspopup="true" class="btn btn-default btn-lg" data-toggle="dropdown" id="dropdownMenu1" type="button">
    <span class="glyphicon glyphicon-align-justify"></span>
  </button>
  <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
    <li>
      <a href="/room">TopRoom</a>
    </li>
    <li>
      <a href="/create_room">RoomCreate</a>
    </li>
    <li>
      <a href="/my_room_list">RoomLists</a>
    </li>
  </ul>
</div>
<!-- メニューボタン終了 -->

<div class="box2">
  <% if @true %>
    <span class="alert alert-danger" role="alert">
      "このルーム名はすでに存在しているため作成できませんでした"
    </span>
    <br>
    <br>
  <% end %>
  <form id="form_1" class="form-horizontal" action="/create_room" method="POST">
    <div class="form-group form-group-lg">
      <div class="col-sm-10">
        <input class="form-control validate[required,maxSize[20]]" name="title" type="text" id="formGroupInputLarge" placeholder="Room_Title" style="width:100%;"> 
      </div>
    </div>
    <label class="radio-inline">
      <input type="radio" name="range[]" id="inlineRadio1" value="true" checked> Public
    </label>
    <label class="radio-inline">
      <input type="radio" name="range[]" id="inlineRadio2" value="false"> Private
    </label>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="admin[]" id="inlineCheck1" value="true" checked> Admin?
      </label>
      <button type="submit" class="btn btn-primary btn-lg btn-block">I'tsCreateRoom!</button>
    </div>
  </form>
</div>
