<style type="text/css">
body {
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    color: black;
}
    .scroll-area {
        height: 100vh;
        overflow: auto;
        -webkit-scroll-behavior: smooth;
        scroll-behavior: smooth;
        -webkit-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-points-y: repeat(100vh);
        scroll-snap-points-y: repeat(100vh);
    }
    .box {
        width: 100vw;
        height: 100vh;
        color: black;
        font-size: 8vw;
        display: flex;
        align-items: center;
        /* 縦方向中央揃え */
        justify-content: center;
        /* 横方向中央揃え */
        flex-direction: column;
    }
    .box__bg_black {
        background-color: #333;
    }
    .box__bg_gray {
        background-color: #ccc;
    }
    .box__bg_photo {
        background-image: url(./img/backimg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    p {
        margin: 0;
        padding: 0;
			  line-height : 1;   /* 48px */
    }
    .navbar{
        margin:0;
}
h1{
	font-size:180px;
}
.title{
	color:#fff;
}
 </style>
<div class="box__area">
    <div class="box box__bg_photo">
			<h1 style="font-size:20vw;">LifeC<span class="title">hat</span></h1>
    </div>
    <div class="box" id="fittext">
			<p id="fittext">It's made with everyone. </p>
        <br>
        <p id="fittext">SocialNetWorkService</p>
    </div>
    <div class="box" id="fittext">
			<p id="fittext">First, from account making.</p>
        <a class="lightbox2" href="#content">
            Let's!LifeChat!</a>
    </div>
</div>
