<html lang="ja">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <link rel="stylesheet" type="text/css" href="../base.css">
        <link rel="shortcut icon" href="./img/favicon.ico">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css' href="base.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <title>error</title>
    </head>
    <body>
       <!-- Header -->
        <div class="topbar">
                <header class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <img src="/img/LifeChatIcon.gif" class="navbar-brand">
                        <a href="/" class="navbar-brand">
                            LifeChat
                        </a>
                    </div>
                    <nav class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                        <a class="inline" href="#inline-content">
                            <span class="glyphicon glyphicon-log-in"></span>
                            Sign_in
                        </a>
                        <div style="display: none;">
                            <section id="inline-content">

                            <div class="box1">
                            <div class="input">
                                <% if @t %>
                                    <span class="list-group-item list-group-item-danger">パスワードまたはユーザー名が違うます</span>
                                <% end %>
                                <form action="/signin" method="POST" id="form_1">
                                    <div class="form-title font">E-MailAddress</div>
                                    <input type="text" name="mail" placeholder="Eメール" class="validate[required,custom[email]]" style="background:#fff;">
                                    <br>
                                    <div class="form-title font">Password</div>
                                    <input type="password" name="password" placeholder="パスワード" class="validate[required]" style="background:#fff;">
                                    <br>
                                    <br>
                                    <div class="submit-container">
                                        <input class="submit-button" type="submit" value="ログイン">
                                    </div>
                                </form>
                                <form action="password_change_send" method="get">
                                    <input type="submit" value="パスワードを忘れた方" style="text-align:right;background:transparent;text-decoration:underline;margin:0px;padding: 0px;">
                                </form>
                                <hr>
                                <p style="font-size:1px;text-align: left;">LifeChatを始めませんか？</p>
                                <div class="submit-container">
                                    <form action="/send_mail" method="get">
                                        <input class="submit-button" type="submit" value="新規登録">
                                    </form>
                                </div>
                            </div>
                        </div>
                            </section>
                        </div>
                        </li>
                        <li>
                        <a href="#content" class="lightbox2">
                            <span class="glyphicon glyphicon-new-window"></span>
                            Sign_up
                        </a>
                    </div>
                    <div style="display:none">
                        <div id="content">
                            <div class="form-title">
                                <div class="box1">
                                    <center>
                                        <h1 stule="border-top:1px solid;padding:auto;margin:auto;">SIGNUP</h1>
                                        <span id="red">
                                            <h3 style="color:#a25768;font-size:11pt;text-shadow: 0 0 5px;">
                                                <%= @message.to_s %>
                                            </h3>
                                        </span>
                                    </center>
                                </div>
                                    <form action="/send_mail" method="POST" id="form_1">
                                        <form class="form-container">
                                            <div class="form-title">E-MailAddress</div>
                                            <input type="text" name="email" placeholder="例)LifeChat@sample.com" class="validate[required,custom[email]]" style="background:#f5f5f5;"><br>
                                            <br>
                                            <div class="submit-container">
                                                <input class="submit-button" type="submit" value="仮登録をする" onclick="DisableButton(this);"><br>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
                </nav>
            </div>
            </header>

        </div>
            <!-- Header終了 -->
        <div  class="box3">
            <p>
            <%= @message.to_s %>
            </p>
            <p>
            <a href="/">
                トップページに戻る
            </a>
            </p>
        </div>
    </div>
</body>
</html>
