<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="/base.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <!-- CSS参照 -->
    <title>LifeChat.room</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" rel="stylesheet">

    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body class="main">
    <!-- Header -->
    <header class="navbar navbar-default" style="margin-bottom:0;">
      <div class="container">
        <div class="navbar-header">
          <img class="navbar-brand" src="/img/LifeChatIcon.gif">
          <a class="navbar-brand" href="/friends">Friends・</a>
          <a class="navbar-brand" href="/room">Room・</a>
          <a class="navbar-brand" href="/tl">TimeLine</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <!-- 検索バー -->
            <form action="/search" class="navbar-form navbar-left" method="POST" role="search">
              <div class="form-group">
                <input class="form-control" placeholder="Search" type="text">
              </div>
              <button class="glyphicon glyphicon-search btn btn-default" type="submit"></button>
            </form>
          </li>
          <!-- 検索バーend -->

          <!-- ユーザー名のポップアップ -->
          <li>
            <div class="dropdown">
              <button aria-expanded="true" aria-haspopup="true" class="btn btn-default" data-toggle="dropdown" id="dropdownMenu1" type="button">
                @<%= User.find(session[:user]).user_name %>
                <span class="glyphicon glyphicon-user"></span>
              </button>
              <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
                <li>
                  <form action="/edit/<%= User.find(session[:user]).id %>" method="post">
                    <input style="background:transparent;text-decoration:underline;" type="submit" value="アカウント情報を変更">
                  </form>
                </li>
                <li>
                  <form action="/logout" method="get">
                    <input style="background:transparent;text-decoration:underline;" type="submit" value="ログアウト">
                  </form>
                </li>
              </div>
            </li>
          </ul>
        </div>
        <!-- ユーザー名のポップアップend -->
      </nav>
    </header>
    <!-- Header終了 -->
    <div class="dropdown">
      <button aria-expanded="true" aria-haspopup="true" class="btn btn-default btn-lg" data-toggle="dropdown" id="dropdownMenu1" type="button">
        <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <ul aria-labelledby="dropdownMenu1" class="dropdown-menu">
        <li>
          <a href="/room">TopRoom</a>
        </li>
        <li>
          <a href="/create_room">RoomCreate</a>
        </li>
        <li>
          <a href="/my_room_list">RoomLists</a>
        </li>
      </ul>
    </div>
  </body>
</html>
