<html>
    <head>
        <link rel="stylesheet" type="text/css" href="base.css"><!-- CSS参照 -->
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css' href="base.css">
            <link rel="shortcut icon" href="./img/favicon.ico">
        <!-- ▼jQuery本体 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <!-- ▼バリデーション -->
        <script src="form/jquery.validationEngine.js"></script>
        <script src="form/jquery.validationEngine-ja.js"></script>
        <link rel="stylesheet" href="form/validationEngine.jquery.css">
        <script>
            $(function(){
                jQuery("#form_1").validationEngine();
            });
</script>
<script type="text/javascript">
function DisableButton(pObj) {
  pObj.disabled = true;
  pObj.value = '送信中';
  pObj.form.submit();
}
</script>
    </head>
    <body class="main">

        <!-- メニューバー -->
        <script type="text/javascript" src="topbar.js"></script>
        <div id="sse1">
            <div id="sses1">
                <ul id="menu2">
                    <li><a href="/">TopPage</a></li>
                    <li><a href="/list">Chatlist</a></li>
                    <li><a href="/flend">Flend</a></li>
                </ul>
            </div>
        </div>
        <!-- メニューバー終了 -->

        <br><br>
        <!-- ログインフォーム -->

        <div class="form-title">
            <center>
                <h1 stule="border-top:1px solid;padding:auto;margin:auto;">SIGNUP</h1>
                <h2>アカウント作成(仮)</h2>
                <span id="red">
                    <h3 style="color:#a25768;font-size:11pt;text-shadow: 0 0 5px;">
                        <%= @message.to_s %>
                    </h3>
                </span>
            </center>
        </div>
        <div class="box1">
            <form action="/send_mail" method="POST" id="form_1">
                <form class="form-container">
                    <div class="form-title">E-MailAddress</div>
                    <input type="text" name="email" placeholder="例)maitorikaruna@yamikochan.com" class="validate[required,custom[email]]" style="background:#fff;"><br>
                    <br>
                    <div class="submit-container">
                        <input class="submit-button" type="submit" value="仮登録をする" onclick="DisableButton(this);"><br>
                        <font size="1px"><a href="/signin">アカウントをお持ちの方はこちらから</a></font>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
