
@charset "UTF-8";
body {
  background-attachment: fixed;
  background-image: url(img/background.png);
  background-attachmet: fixed;
  font-family: 'Poiret One', cursive;
}

/*--------------------------------------------------*/

#sse1 {
  margin: 0;
  background-color: #222;
  height: 38px;
  padding: 15px;
  box-sizing: content-box;
}
#sses1 {
  margin: 0 auto;
}
#sses1 ul {
  position: relative;
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px #6C0000;
}
#sses1 li {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image: none;
}
#sses1 li.highlight {
  background-color: #800;
  top: 36px;
  height: 2px;
  border-bottom: solid 1px #C00;
  z-index: 1;
  position: absolute;
  overflow: hidden;
}
#sses1 li a {
  box-sizing: content-box;
  height: 30px;
  padding-top: 8px;
  margin: 0 20px;
  color: #fff;
  font: normal 12px arial;
  text-align: center;
  text-decoration: none;
  float: left;
  display: block;
  position: relative;
  z-index: 2;
}

/*=======================================
Box
========================================*/

.box1 {
  /*大きさ*/
  padding: 30px;
  width: 500px;
  /*色*/
  color: #7b7a65;
  background-color: toransprent;
  /*配置*/
  text-align: auto;
  margin-right: auto;
  margin-left: auto;
}
.box2 {
  /*大きさ*/
  padding: 30px;
  width: 50%;
  /*色*/
  color: black;
  /* フォームの背景グラデーション */
  background: #fffff1;
  /* Old browsers */
  background: -webkit-linear-gradient(-45deg, #fffff1 0%, #fffff9 100%);
  background: -moz-linear-gradient(-45deg, #fffff1 0%, #fffff9 100%);
  background: -o-linear-gradient(-45deg, #fffff1 0%, #fffff9 100%);
  background: linear-gradient(-45deg, #fffff1 0%, #fffff9 100%);
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fffff2', endColorstr='#fffff9', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  /*配置*/
  text-align: auto;
  margin-right: auto;
  margin-left: auto;
  /*角丸*/
  border-radius: 10px;
  /* CSS3草案 */
  -webkit-border-radius: 10px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px;
  /* Firefox用 */
}
.box3 {
  padding: 30px;
  width: 500px;
  /*色*/
  color: #7b7a65;
  background-color: transparent;
  /*配置*/
  text-align: auto;
  margin-right: auto;
  margin-left: auto;
  top: 50%;
  left: 50%;
}
.left {
  float: left;
}
.demo-content {
  padding: 15px;
  font-size: 18px;
  min-height: 200px;
  main-width: 200px;
  margin-bottom: 10px;
}

.demo-content.bg-alt {
  background: #abb1b8;
  background-color:rgba(255,255,255,0.15);
  border-style: solid; border-color:rgba(0 ,0 ,0 ,0.32);
}
li {
  list-style-type: none;
}
ul {
  list-style-type: none;
}

